=link_to 'Back to Jam Staging', @deep_link,style: 'background-color: #067BC2; color: #F5F5F8; text-align: center; text-decoration: none; font-size: 18px; line-height: 24px; padding: 12px 78px; border-radius: 8px'
